# PostgreSQL
POSTGRES_DB=knowledge_base
POSTGRES_USER=knowledge_user
POSTGRES_PASSWORD=change_me
POSTGRES_PORT=5432

# Elasticsearch
ELASTIC_VERSION=9.4.2
ELASTICSEARCH_PORT=9200

# Будущие сервисы
REDIS_PORT=6379
BACKEND_PORT=8000
FRONTEND_PORT=3000
PROMETHEUS_PORT=9090
GRAFANA_PORT=3001